beautifulsoup4==4.12.2
dateparser==1.1.8
fake_useragent==1.3.0
lxml==4.9.2
numpy==1.24.3
pandas==1.5.3
psycopg2==2.9.9
Requests==2.31.0
selenium==4.15.2
SQLAlchemy==1.4.39
tqdm==4.65.0
webdriver_manager==4.0.1
